<style type="text/css">
a:hover { 
    background-color:  transparent;
}</style>

<div style="z-index:400; position:fixed; top:0; height:100%; width:100%; background: #16283f; /* Old browsers */
background: -moz-linear-gradient(45deg, #16283f 0%, #151515 66%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #16283f 0%,#151515 66%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #16283f 0%,#151515 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16283f', endColorstr='#151515',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */" >
<div style="margin: 20% 10%; color:white;">
	<div class="ui sizer vertical segment" align="center">

  	 <div class="ui"  ><h1 style="font-size: 340%;">Apartments, Villas for sale</h1></div>
 	 <div class="ui header"><h2 style="color:#EEE;">Select your city to view verified listings</h2></div>
    </div>
<div class="ui grid" style="padding:5% 20% 0 20%; color:white;">
  <div class="four wide column"><h1 style="font-size: 140%;"><a href="myhome/2">Kochi</a></h1></div>
  <div class="four wide column"><h1 style="font-size: 140%;"><a href="#">Dubai</a></h1></div>
  <div class="four wide column"><h1 style="font-size: 140%;"><a href="myhome/3">Bangalore</a></h1></div>
  <div class="four wide column"><h1 style="font-size: 140%;"><a href="myhome/1">Trivandrum</a></h1></div>
</div>

</div>

  
</div>
</div>
</div>

