<!--Footer-->

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About</a>
            <a href="#" class="item">Support</a>
            <a href="#" class="item">Press</a>

          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Legal</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Terms & Privacy</a>
            <a href="#" class="item">Site Map</a>
            
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Enquries</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Advertise</a>
            <a href="#" class="item">Partners</a>
          </div>
        </div>
        <div class="seven wide column">
          <h3 class="ui inverted header">Careers at FindMyApt</h3>
          <p class="ui inverted">We're shaping the future of Home search</p>
          <button class="ui button inverted">Apply Now</button>
          
          </div>
      </div>
      <div class="ui inverted section divider"></div>


      <div class="ui horizontal inverted small divided link list">
        <span class="item" href="#">© 2016 FindMyApt </span>
    </div>
  </div>


<%= link_to 'New Home', new_home_path %>
